<a href="https://colab.research.google.com/github/justinvkalappura/MCA-Mini-project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5])
print("Output is :")
print(s)

Output is :
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print("Output is :")
print(s)

Output is :
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
import pandas as pd 
s= pd.Series([1,2,3,4,5])
f= pd.Series(['a','b','c','d','e'])
dic={'Name':f,"Rollno":s}
df= pd.DataFrame(dic)
print(df)

  Name  Rollno
0    a       1
1    b       2
2    c       3
3    d       4
4    e       5

In [6]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print("Output is :")
print(s*2)

Output is :
a     2
b     4
c     6
d     8
e    10
dtype: int64

In [9]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print("Output is :")
print(s*s)

Output is :
a     1
b     4
c     9
d    16
e    25
dtype: int64

In [11]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print("Output is :")
print(s[s>2])

Output is :
c    3
d    4
e    5
dtype: int64

In [15]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5])
d=pd.Series([2,3,4,5,6])
print("Output is :")
print(s+d)

Output is :
0     3
1     5
2     7
3     9
4    11
dtype: int64

In [16]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
print("Output is :")
print(s.head(5))
print(s.tail(5))

Output is :
0    1
1    2
2    3
3    4
4    5
dtype: int64
10    11
11    12
12    13
13    14
14    15
dtype: int64

In [18]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
print("Output is :")
print(s[0:5])

Output is :
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
s=pd.DataFrame(arr)
print(df)
print(df.iloc[0:2,1:2])
print(df.iloc[ : ,0:2])

  Name  Rollno
0    a       1
1    b       2
2    c       3
3    d       4
4    e       5
   Rollno
0       1
1       2
  Name  Rollno
0    a       1
1    b       2
2    c       3
3    d       4
4    e       5

In [22]:
import pandas as pd
dic={'Name':['a','b','c'],
     'Age':[1,2,3]
     }
df= pd.DataFrame(dic,index=[True,False,True])
print(df)
print(df.loc[True])
print()
print('Result of iloc:')
print(df.iloc[1])

      Name  Age
True     a    1
False    b    2
True     c    3
     Name  Age
True    a    1
True    c    3

Result of iloc:
Name    b
Age     2
dtype: object